{% extends 'index.html'%}

{% block content %}
    <div class="container">
        <h3 class="text-center">Личный кабинет пользователя {{ current_user.user }}</h3>
        <hr>

        <div class="row">
            <div class="col-sm-4">
                <h5>Личная информация</h5>
                <p>Логин: {{ current_user.user }}</p>
                <p>Имя: {{ current_user.first_name }}</p>
                <p>Фамилия: {{ current_user.last_name }}</p>
                <p>Email: {{ current_user.email }}</p>
            </div>
            <div class="col-sm-8">
            <h5 class="text-center">Избранные статьи</h5>
            <ul class="button-group">
            {% for article in current_user.favorite_articles.all %}
            <li class="list-group-item"><a href="{{article.get_absolute_url}}">{{article.title}}</a></li>
            {% endfor %}
</ul>
            </div>
</div>
</div>
{% endblock %}